@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #242424;
  background-color: white;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-width: 320px;
  min-height: 100vh;
}

@layer base {
  button {
    @apply text-white bg-green-pastel py-2 px-5 rounded-lg border-transparent cursor-pointer outline-none;
  }

  button:hover {
    @apply border-l-green-pastel-accent;
  }

  /* button:focus,
  button:focus-visible {
    @apply bg-green-pastel-accent;
  } */
}
